.hubspotContactUsForm {
  /* background: red; */
}
/*
.hubspotContactUsForm>div input:not([type=image]):not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]) */

.hubspotContactUsForm form > div {
  margin-bottom: 1.25rem;
}

.hubspotContactUsForm
  input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not(
    [type='checkbox']
  ):not([type='file']),
.hubspotContactUsForm textarea {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #f0ece7;
  border-radius: 4px;
  color: #373e46;
  transition: border 200ms ease-out;
}

.hubspotContactUsForm
  input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not(
    [type='checkbox']
  ):not([type='file']):focus,
.hubspotContactUsForm
  input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not(
    [type='checkbox']
  ):not([type='file']):focus-visible,
.hubspotContactUsForm textarea:focus,
.hubspotContactUsForm textarea:focus-visible,
.hubspotContactUsForm input[type='submit']:focus-visible {
  outline: none;
  border: 1px solid #a78148;
  box-shadow: none;
}

.hubspotContactUsForm select {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #f0ece7;
  border-radius: 4px;
  color: #373e46;
  transition: border 200ms ease-out;
}

.hubspotContactUsForm select:focus,
.hubspotContactUsForm select:focus-visible {
  outline: none;
  border: 1px solid #a78148;
  box-shadow: none;
}

.hubspotContactUsForm form > div label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #4d545b;
  margin-bottom: 0.25rem;
  display: block;
}

.hubspotContactUsForm form > div ul li label {
  color: #f35252;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
}

.hubspotContactUsForm form > div label > span + span {
  color: #f35252;
}

.hubspotContactUsForm form > div div p {
  color: #4d545b;
}

.hubspotContactUsForm form > div > div > p:first-of-type {
  padding-bottom: 2rem;
}

.hubspotContactUsForm input[type='checkbox'] {
  border-radius: 4px;
}

.hubspotContactUsForm input[type='checkbox']:checked {
  background-color: #00863f;
}

.hubspotContactUsForm input[type='checkbox']:focus,
.hubspotContactUsForm input[type='checkbox']:focus-visible {
  outline: none;
  box-shadow: none;
}

.hubspotContactUsForm input[type='checkbox']:focus-visible {
  border: 1px solid #a78148;
}

.hubspotContactUsForm input[type='checkbox'] + span {
  color: #4d545b;
  font-weight: normal;
  font-size: 0.875rem;
  font-weight: 100%;
  margin-left: 1.5rem;
}

.hubspotContactUsForm input[type='checkbox'] + span > span {
  color: #f35252;
}

.hubspotContactUsForm input[type='submit'] {
  background: #00863f;
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  font-weight: 1.25rem;
  border-radius: 4px;
  margin-top: 2.25rem;
}

.hubspotContactUsForm form > div div p > a {
  color: #a78148;
  font-weight: 700;
}
